@       IN       SOA       {{ server['name'] }}.{{ domain }}. (
                       {{ server['serial'] }} ; serial
                       {{ server['refresh'] }} ; refresh
                       {{ server['retry'] }} ; retry
                       {{ server['expire'] }} ; expire
                       {{ server['minimum'] }} ; minimum
)
; name servers
@       NS       {{ server['name'] }}.{{ domain }}.
; a records
{{ server['name'] }}       IN       A       {{ slave_ipv4 }}
