@       IN       SOA       {{ server_name }}.{{ domain }}. admin.{{ domain }}. (
                       {{ server_serial }} ; serial
                       {{ server_refresh }} ; refresh
                       {{ server_retry }} ; retry
                       {{ server_expire }} ; expire
                       {{ server_minimum }} ; minimum
)
; name servers
@       NS       {{ server_name }}.{{ domain }}.
; a records
{{ server_name }}       IN       A       {{ secondary_ipv4 }}
